In [2]:
import requests
import pandas as pd

# create request header
headers = {'User-Agent': "email@address.com"}

### Get company tickers

In [4]:
# get all companies data
companyTickers = requests.get(
    "https://www.sec.gov/files/company_tickers.json",
    headers=headers
    )
company_tickers = pd.DataFrame(companyTickers.json()).T.set_index("cik_str")
company_tickers

        ticker                                   title
cik_str
789019    MSFT                          MICROSOFT CORP
320193    AAPL                              Apple Inc.
1045810   NVDA                             NVIDIA CORP
1018724   AMZN                          AMAZON COM INC
1652044  GOOGL                           Alphabet Inc.
...        ...                                     ...
1901336  ALCYW  Alchemy Investments Acquisition Corp 1
1901336  ALCYU  Alchemy Investments Acquisition Corp 1
1977303  ARLTF                    Arcadium Lithium plc
1974044  MNYWW                           MoneyHero Ltd
1998781  IBACU                    IB Acquisition Corp.

[10431 rows x 2 columns]

In [20]:
ticker = "AAPL"

cik_id = str(company_tickers[company_tickers["ticker"] == ticker].index[0])

cik_str=str(cik_id).zfill(10) # we use zfill since the company number must be 10 digits long

companyFacts = requests.get(
    f'https://data.sec.gov/api/xbrl/companyfacts/CIK{cik}.json',
    headers=headers
    )

dfs = []
for k in companyFacts.json()["facts"]["us-gaap"].keys():
    df = pd.DataFrame(companyFacts.json()["facts"]["us-gaap"]["AccountsPayableCurrent"]["units"]["USD"]).set_index("filed")
    df.index =  pd.to_datetime(df.index)
    df["fact"]=k   
    dfs.append(df)

company_facts = pd.concat(dfs)

In [18]:
cik

'%10d'