In [2]:
import requests
import pandas as pd

# create request header
headers = {'User-Agent': "email@address.com"}

### Get company tickers

In [3]:
# get all companies data
companyTickers = requests.get(
    "https://www.sec.gov/files/company_tickers.json",
    headers=headers
    )
company_tickers = pd.DataFrame(companyTickers.json()).T.set_index("cik_str")
company_tickers

        ticker                                   title
cik_str
789019    MSFT                          MICROSOFT CORP
320193    AAPL                              Apple Inc.
1045810   NVDA                             NVIDIA CORP
1018724   AMZN                          AMAZON COM INC
1652044  GOOGL                           Alphabet Inc.
...        ...                                     ...
1901336  ALCYW  Alchemy Investments Acquisition Corp 1
1901336  ALCYU  Alchemy Investments Acquisition Corp 1
1977303  ARLTF                    Arcadium Lithium plc
1974044  MNYWW                           MoneyHero Ltd
1998781  IBACU                    IB Acquisition Corp.

[10431 rows x 2 columns]

In [5]:
ticker = "AAPL"

cik_id = str(company_tickers[company_tickers["ticker"] == ticker].index[0])

cik_str=str(cik_id).zfill(10) # we use zfill since the company number must be 10 digits long

companyFacts = requests.get(
    f'https://data.sec.gov/api/xbrl/companyfacts/CIK{cik_str}.json',
    headers=headers
    )

dfs = []
for k in companyFacts.json()["facts"]["us-gaap"].keys():
    df = pd.DataFrame(companyFacts.json()["facts"]["us-gaap"]["AccountsPayableCurrent"]["units"]["USD"]).set_index("filed")
    df.index =  pd.to_datetime(df.index)
    df["fact"]=k   
    dfs.append(df)

company_facts = pd.concat(dfs)

In [7]:
q_statements = pd.read_csv("lib/stocks/quarterly_statements.csv",index_col=0)
q_statements = q_statements[q_statements["ticker"] == ticker]
q_statements.head()

/var/folders/t1/zq_gddfn2h9_xnb64_r95zpc0000gn/T/ipykernel_69257/4198634809.py:1: DtypeWarning: Columns (10,16,37,43,46,51,56,62,72,111,112,113,114,115,116,117,118,119,120,121,122,123,124) have mixed types. Specify dtype option on import or set low_memory=False.
  q_statements = pd.read_csv("lib/stocks/quarterly_statements.csv",index_col=0)

,Cash & Equivalents,Short-Term Investments,Cash & Cash Equivalents,Cash Growth,Receivables,Inventory,Other Current Assets,Total Current Assets,"Property, Plant & Equipment",Long-Term Investments,...,Total Liabilities and Equity,Common Stock Issued,Share Repurchases,Interest Income,Interest Expense,Asset Turnover,Return on Equity (ROE),Return on Assets (ROA),Earnings Yield,FCF Yield
Quarter Ended,,,,,,,,,,,,,,,,,,,,,
2023-12-30,"40,760","32,340","172,575",4.31%,"50,102","6,511","13,979","143,692","43,666","99,475",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-30,"29,965","31,590","162,099",-4.15%,"60,985","6,331","14,695","143,566","43,715","100,544",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-01,"28,408","34,074","166,543",-7.12%,"39,186","7,351","13,640","122,659","43,550","104,061",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-01,"24,687","31,185","166,333",-13.70%,"35,899","7,482","13,660","112,913","43,398","110,461",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-31,"20,535","30,820","165,450",-18.34%,"54,180","6,820","16,422","128,777","42,951","114,095",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
company_facts_q4 = company_facts[company_facts.frame=="CY2023Q4I"]
company_facts_q4

,end,val,accn,fy,fp,form,frame,fact
filed,,,,,,,,
2024-02-02,2023-12-30,58146000000,0000320193-24-000006,2024,Q1,10-Q,CY2023Q4I,AccountsPayable
2024-02-02,2023-12-30,58146000000,0000320193-24-000006,2024,Q1,10-Q,CY2023Q4I,AccountsPayableCurrent
2024-02-02,2023-12-30,58146000000,0000320193-24-000006,2024,Q1,10-Q,CY2023Q4I,AccountsReceivableNetCurrent
2024-02-02,2023-12-30,58146000000,0000320193-24-000006,2024,Q1,10-Q,CY2023Q4I,AccruedIncomeTaxesCurrent
2024-02-02,2023-12-30,58146000000,0000320193-24-000006,2024,Q1,10-Q,CY2023Q4I,AccruedIncomeTaxesNoncurrent
...,...,...,...,...,...,...,...,...
2024-02-02,2023-12-30,58146000000,0000320193-24-000006,2024,Q1,10-Q,CY2023Q4I,HedgedLiabilityFairValueHedge
2024-02-02,2023-12-30,58146000000,0000320193-24-000006,2024,Q1,10-Q,CY2023Q4I,DeferredIncomeTaxAssetsNet
2024-02-02,2023-12-30,58146000000,0000320193-24-000006,2024,Q1,10-Q,CY2023Q4I,DeferredTaxLiabilitiesPropertyPlantAndEquipment
2024-02-02,2023-12-30,58146000000,0000320193-24-000006,2024,Q1,10-Q,CY2023Q4I,IncrementalCommonSharesAttributableToShareBase...
2024-02-02,2023-12-30,58146000000,0000320193-24-000006,2024,Q1,10-Q,CY2023Q4I,OtherAssetsMiscellaneousNoncurrent